.contact-page-container h3 {
  font-size: 35px;
}

.contact-form-container {
  padding: 10px 10px;
  background-color: rgb(244, 198, 154);
  /* background-image: linear-gradient(75deg, rgb(225, 182, 127), 45%, rgb(236, 199, 151)); */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.contact-form {
  margin-top: 10px;
}

.contact-form label {
  display: block;
}

.form-input {
  padding: 10px 0px;
}

.form-input p {
  display: inline-block;
  margin-left: 5px;
  font-size: 17px;
  color: rgb(125, 125, 125);
}

.form-input label {
  font-size: 20px;
}

.form-input input {
  display: inline;
  background-color:rgb(255, 230, 230);
  border-width: 2px;
  border-radius: 8px;
  padding-left: 5px;
  align-items: center;
  min-height: 20px;
  border: none;
  font-size: 16px;
}

.form-input input:focus, .form-input textarea:focus {
  outline: none;
}

.form-input input:hover, .form-input textarea:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.form-input textarea {
  background-color:rgb(255, 230, 230);
  border-width: 1px;
  border-radius: 5px;
  padding-left: 5px;
  border-style: solid;
  border: none;
  min-width: 180px;
  min-height: 100px;
  max-width: 98%;
  max-height: 200px;

  font-size: 16px;
}


.form-submit-button {
  text-align: center;
  background-color: rgb(255, 230, 230);
  border: none;
  border-radius: 5px;
  font-size: 18px;
} 

.form-submit-button:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.form-submit-button:active {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  background-color: rgb(222, 222, 222);
} 

.more-socials-box {
  background-color: rgb(151, 249, 146);
  padding: 10px;
  margin-top: 30px;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

@media (min-width: 860px) {
  .contact-form-container {
    border-radius: 10px;
    width: 750px;
    margin: auto;
  }

  .more-socials-box {
    border-radius: 10px;
  }

  .form-input textarea {
    max-width: 49%;
  }
}