.navbar {
  z-index: 100;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;

  background-color: rgb(232, 223, 209);
  /* background-color: rgb(209, 206, 249); */

  padding-left: 5%;
  padding-right: 5%;

  border-bottom-width: 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  
  transition: background-color 0.3s ease-in-out;
}

.navbar a {
  text-decoration: none;
}

.left-section {
  display: flex;
  width: 270px;
}

.left-section .knowless {
  font-size: 26px;
}

.left-section p {
  position: relative;
  top: 18px;
  left: 2px;
  font-size: 12px;
  margin-right: 5px;
}

.middle-section {
  display: flex;
  text-align: center;
}

.knowless-logo {
  width: 0px;
  opacity: 0;
  transition: ease all 0.6s;
}

.navbar .right-section {
  display: flex; 
  align-items: center;
  justify-content: right;
  width: 270px;
  font-size: 18px;
}

.website-links-section {
  display: none;
}

.icon-section {
  display: none;
}

.navbar .website-links:hover {
  color: rgb(218, 45, 45);
}

.navbar .link-icons:hover {
  transition: fill 0.2s;
}

.menu-button {
  cursor: pointer;
}


@media (min-width: 700px) {
  .navbar .right-section {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 270px;
  }

  .website-links-section {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
    padding-right: 6px;
  }
  
  .navbar .website-links {
    padding: 0px 5px;
    transition: color 0.2s;
  }

  .navbar .icon-section {
    display: flex;
    align-items: center;  
    justify-content: right;
    padding-top: 5px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .navbar .link-icons {
    padding-left: 10px;
    width: 30px;
  }

  .menu-button {
    display: none;
  }
}

@media(min-width: 500px) {
  .knowless-logo {
    opacity: 1;
    width: 30px;
    transition: ease all 0.6s;
  }
}